html
  head
    title= title
  body
    h1= 'Hola'
    h2= 'Este es el listado de textos disponibles: '
    ol
      each opera in operas
        li= opera.title

    h2= 'Por favor, completa el siguiente formulario y luego presiona el boton "Generar Documento"'

    div
      form(action='/basic',method='post')
        span
          text= 'Escribe todos los numeros de los textos que quieras en tu documento, ordenados, y separados por coma. Ej: 4,1,2'
        br
        br
        input(
          type='text'
          name='elections'
          style='width:500px;border:1px solid'
        )
        br
        br
        br
        span
          text= 'Escribe el nombre con el que quieres que se genere tu documento'
        br
        input(
          type='text'
          name='docName'
          style='width:500px;border:1px solid'
        )
        br
        br
        br


        input(type='submit', value='Generar Documento')
